[statsite]
port={{ statsite_port}}
udp_port={{ statsite_udp_port }}
log_level={{ statsite_log_level }}
flush_interval={{ statsite_flush_interval }}
timer_eps={{ statsite_timer_eps }}
set_eps={{ statsite_set_eps }}
stream_cmd={{ statsite_stream_cmd }}
daemonize={{ statsite_daemonize }}
{% if statsite_binary_stream %}
binary_stream=yes
{% endif %}
{% if statsite_daemonize == 1 %}
pid_file={{ statsite_pidfile }}
{% endif %}
